*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    background-color: rgb(250, 212, 142);
    padding: 7px 15px;
    float: right;
    border-radius:50px;
    margin-bottom: 20px;
}

body{
    padding: 20px;
}

.wrap {
    /*meriset sifat ngambang dari element diatasnyaa, pake right karna siatas floatnya right*/
    clear: right;
}

.text{
    width: 48%;
    float: left;
    /* kalau pake width menambahkan padding harus menghitung total % nya agar tidak 100%*/
    padding-right: 15px;
}

.text ul {
    list-style: decimal;
}

.text ul li{
    font-size: 1.1rem;
    margin: 9px;
}

.gambar{
    width: 50%;
    float: right;
}

img {
    width: 100%;
}

.card {
    clear: both;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kotak {
    width: 25%;
    margin: 30px 10px 0;
    text-align: center;
    background-color: orange;
    padding: 19px 10px;
}

.kotak h5 {
    font-size: 20px;
    margin: 0 !important;
}

.kotak p{
    margin-right: 0 !important;
    font-size: 19px;
}

.kotak1{
    margin-left: 0 !important;
}

.kotak4{
margin-right: 0 !important;
}

.content{
    clear: both;
    margin: 22px;
}

.content .container {
    padding-top: 30px;
    float: left;
    width: 48%;
    background-color: rgb(226, 228, 227);
    padding: 10px;
    border-radius: 8px;
}

.container h3{
    text-align: center;
}

.container input[type='text'] {
    width: 99%;
    height: 26px;
    margin: 8px 0;
    border: none;
    border-radius: 7px;
}

.container textarea{
    width: 100%;
    height: 140px;
    border: none;
    margin: 5px 0;
    border-radius: 9px;
}

.container input[type='submit']{
    border: none;
    padding: 7px 13px;
    float: right;
    border-radius: 25px;
    color: black;
    background-color: orange;
}

.container input[type='file']{
    margin: 8px 0;
}

.laporan {
    width: 50%;
    float: right;
    padding-top: 30px;
    height: 45%;
    padding: 1px;
}

.laporan h3 {
    justify-content: center;
    display: flex;
}

.laporan .tampilan {
    border: 2px solid;
    display: flex;
    border-radius: 6px;
    padding: 14px;
}

.laporan .tanggal{
    position: absolute;
    right: 55px;
}

.laporan .tampilan2 {
    border: 2px solid;
    display: flex;
    border-radius: 6px;
    padding: 14px;
    margin-top: 40px;
}
.laporan .lapimg {
 width: 444px;
 margin-top: 70px;
}