body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
}

.result {
    margin-top: 20px;
}

.total-cost {
    font-weight: bold;
    color: #e74c3c;
    font-size: 20px;
}

/* Tombol Kembali */
.back-button {
    margin-top: 20px;
    text-align: center;
}

.back-button a {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.back-button a:hover {
    background-color: #2980b9;
}