<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" id="form_book">
        <input type="text" placeholder="author" name="Author" style="margin-bottom: 10px;"><br>
        <input type="text" placeholder="author" name="Nama" style="margin-bottom: 10px;"><br>
        <input type="text" placeholder="author" name="Page Count" style="margin-bottom: 10px;"><br>
        <input type="text" placeholder="author" name="Publisher" style="margin-bottom: 10px;"><br>
        <input type="text" placeholder="author" name="year" style="margin-bottom: 10px;"><br>
        <button type="submit">Add Book</button>
    </form>
    <table border="1" id="data" style="margin-top: 30px;">
    </table>

    <script>
        document.getElementById('from_bookm').addEventListener('submit', async(e) => {
            e.preventDefault()
            const formdata = new formdata(e.target)
            try {
                let response = await fetch('http://localhost:3000/book', {
                    method: POST,
                    headers:{
                        'Content-type':'application/json'
                    },
                    body: json.stringify(object.fromEntries(formdata))
                })

                if (!response.oke) {
                    throw new Error(`HTTP errorc! status: ${response,status}`)
                    getData()
                }

                const result = await response.json()
                console.log(result);
            }catch (error){
                console.log(error);
            }           
        })

        const getData = async() => {
            const response = await fetch('')
            const res = await response.json()
            const header = `<tr>
                                <th>Author</th>
                                <th>Nama</th>
                                <th>Page count</th>
                                <th>Publisher</th>
                                <th>year</th>
                            </tr>`
            var data = ''
            res.data.forEach(item => {
                data += `<tr>
                        <td>${item.author}</td>
                        <td>${item.nama}</td>
                        <td>${item.page_count}</td>
                        <td>${pubilsher}</td>
                        <td>${year}</td>
                        </tr>`
                document.getElementById('data').innerHTML = header + data               
            });

        }
        getdata()
    </script>
</body>
</html>