<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <a href="" class="btn">Administrasion</a>
    <div class="wrap">
        <div class="text">
            <h3>selamat datang</h3>
            
                <ol>
                    <li>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. A quis repellat iusto odit voluptatibus! Atque distinctio nostrum dolorum suscipit ea rerum, sequi voluptatum repudiandae molestiae cum. Id eaque blanditiis molestiae!
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. A quis repellat iusto odit voluptatibus! Atque distinctio nostrum dolorum suscipit ea rerum, sequi voluptatum repudiandae molestiae cum. Id eaque blanditiis molestiae!
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. A quis repellat iusto odit voluptatibus! Atque distinctio nostrum dolorum suscipit ea rerum, sequi voluptatum repudiandae molestiae cum. Id eaque blanditiis molestiae!
                    </li>
                </ol>
            
        </div>
        <div class="gambar">
            <img src="img/Screen_Shot_2023-02-02_at_10.13.21.png" alt="">
        </div>
    </div>

        <div class="card">
                <div class="kotak kotak1">
                    <h5>jumlah penduduk</h5>
                    <p>500</p>
                </div>
                <div class="kotak">
                    <h5>jumlah desa</h5>
                    <p>3</p>
                </div>
                <div class="kotak">
                    <h5>jumlah kec</h5>
                    <p>1</p>
                </div>
                <div class="kotak kotak4">
                    <h5>jumlah kab</h5>
                    <p>1</p>
                </div>
        </div>
        <div>
            <div class="keterangan">
                <h3>Laporan pengaduan</h3>
                <div class="ket1">
                    <p class="isi">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus, maiores?</p>
                    <p class="tanggal" style="font-size: 10px;">22 Juni 2022</p>
                    <img src="img/Astronaut [1920×1080].png" alt="">
                </div>
                <div class="ket2">
                    <p class="isi">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus, maiores?</p>
                    <p class="tanggal" style="font-size: 10px;">22 Juni 2022</p>
                    <img src="img/Astronaut [1920×1080].png" alt="">
        
                </div>
            </div>
        <div class="container">
            <center><h2>Form Pengaduan</h2></center>
            <form>
                <div class="form-group">
                    <label for="nik">NIK:</label>
                    <input type="number" id="nik" name="nik" required>
                </div>
                <div class="form-group">
                    <label for="nama">Nama Lengkap:</label>
                    <input type="text" id="nama" name="nama" required>
                </div>
                <div class="form-group">
                    <label for="telp">No Telp:</label>
                    <input type="tel" id="telp" name="telp" required>
                </div>
                <div class="form-group">
                    <label for="pengaduan">Pengaduan:</label>
                    <textarea id="pengaduan" name="pengaduan" required></textarea>
                </div>
                <div class="form-group">
                    <label for="file">Choose File:</label>
                    <input type="file" id="file" name="file">
                </div>
                <button type="submit" >Kirim</button>
            </form>
    </div>
</body>
</html>