@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.jumbotron {
  background-color: #f3f1f1 !important;
  font-family: 'Acme', sans-serif;
}

.jumbotron li {
  font-family: 'Work Sans', sans-serif;
}