        body {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-image: linear-gradient(#8DDFCB, #22668D);
            background-repeat: no-repeat;
            height: 610px;
            margin: 20px;
        }

        h1 {
            text-align: center;
        }

        form {
            margin: 20px;
            padding: 10px;
            border: 1px solid #ccc;
            background-color: #f9f9f9;
            border-radius: 5px;
        }

        label {
            font-weight: bold;
        }

        input[type="text"],
        input[type="number"] {
            width: 100%;
            height: 30px;
            margin-top: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        input[type="submit"] {
            background-color: #007BFF;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 3px;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }

        .result {
            margin: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .card {
            width: 30%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
        }

        /* Style untuk konten dalam kartu */
        .card h2 {
            margin: 0;
            font-size: 20px;
            text-align: center;
            color: #071952;
        }

        .card p {
            margin: 10px 0;
        }

        /* Style untuk latar belakang kartu saat hover */
        .card:hover {
            background-color: #f0f0f0;
        }
